extends layout

block content
 h1= title
 form(action="/articles/add", method="post")
  div.form-group
    label(for='title') Title:
    input#title.form-control(type='text', placeholder='Title' name='title')

  //- div.form-group
  //-   label(for='author') Author:
  //-   input#author.form-control(type='text', placeholder='Author' name='author')
  
  div.form-group
    label(for='body') Body:
    textarea#body.form-control(type='text', placeholder='Body' name='body')
  input.btn.btn-primary(type="submit", value="Submit")