extends layout

block content
 h1= title
 form(action="/articles/edit/"+article.id, method="post")
  div.form-group
    label(for='title') Title:
    input#title.form-control(type='text', placeholder='Title' name='title', value=article.title)

  div.form-group
    label(for='author') Author:
    input#author.form-control(type='text', placeholder='Author' name='author',value=article.author)
  
  div.form-group
    label(for='body') Body:
    textarea#body.form-control(type='text', name='body')=article.body
  input.btn.btn-primary(type="submit", value="Submit")